@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
body{
    background-color: #a7cff5;
    font-family: 'Poppins', sans-serif;
}
.copyright_footer{
    position: fixed;
    color: rgba(78, 74, 74, 0.863);
    bottom: 0;
    width: 100%;
    font-size:18px;
    text-shadow: 5px 5px 5px rgba(78, 74, 74, 0.863);
    text-align:center;
    line-height: 3;
    background-color: azure;
}
.header_div{
    background-color: white;
    color: rgb(146, 0, 0);
}